{% extends './base.html' %}
{% load static %}
{% load  cart_template_tag %}
{% block start %}
    

   

    <section>
      <div class="container">
        <div class="row">
          

          <div class="col-sm-9 padding-right">
            <div class="features_items">
              <!--features_items-->
              
              <!-- ======================================= products for loop =-=================================== -->
              <h2 class="title text-center">Total {{ category.product_count }} results found</h2>

              {% for product in products %}

              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img
                        src=" /media/{{ product.prod_images.first.image }} "
                        alt=""
                      />
                      <h2>Rs. {{ product.price }}</h2>
                      <p>{{ product.name|title }}</p>
                      <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-default add-to-cart"
                        ><i class="fa fa-shopping-cart"></i>Add to cart</a
                      >
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>Rs. {{ product.price }}</h2>
                        <p>{{ product.name|title }}</p>
                        <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Add to cart</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}

          </div>
        </div>
      </div>
    </section>.
    {% endblock %}