{% extends './base.html' %}
{% load static %}
{% block start %}
    
  
    <section id="slider">
      <!--slider-->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div
              id="slider-carousel"
              class="carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li
                  data-target="#slider-carousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#slider-carousel" data-slide-to="1"></li>
                <li data-target="#slider-carousel" data-slide-to="2"></li>
              </ol>

              <div class="carousel-inner">
                <div class="item active">
                  <div class="col-sm-6">
                    <h1>{{f_items.name}}</h1>
                    <h2>{{f_items.category}}</h2>
                    <p>
                     {{f_items.desc|truncatechars:180 }}
                    </p>
                   
                  </div>
                  <div class="col-sm-6">
                    <img
                      src="/media/{{f_items.img}}"
                      class="girl img-responsive"
                      alt=""
                    />
                  </div>
                </div>
                {% for items in new_prods %}
                <div class="item">
                  <div class="col-sm-6">
                    <h1>{{items.name}}</h1>
                    <h2>{{items.category}}</h2>
                    <p>
                      {{f_items.desc|truncatechars:180 }}
                    </p>
                    
                  </div>
                  <div class="col-sm-6">
                    <img
                      src="/media/{{items.img}}"
                      class="girl img-responsive"
                      alt=""
                    />
                  </div>
                </div>
                {% endfor %}
              </div>

              <a
                href="#slider-carousel"
                class="left control-carousel hidden-xs"
                data-slide="prev"
              >
                <i class="fa fa-angle-left"></i>
              </a>
              <a
                href="#slider-carousel"
                class="right control-carousel hidden-xs"
                data-slide="next"
              >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/slider-->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="left-sidebar">

              <div class="brands_products">
                <!--brands_products-->
                <h2>Categories</h2>
                <div class="brands-name">
                  <ul class="nav nav-pills nav-stacked">

                    {% for category in categories %}
                    <li>
                      <a href="/category/{{ category.id }}"> <span class="pull-right">{{ category.product_count }}</span> {{ category.category_name }}</a>
                    </li>

                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-9 padding-right">
            <div class="features_items">
              <!--features_items-->
              
              <!-- ======================================= products for loop =-=================================== -->
              <h2 class="title text-center">Features Items</h2>
              <div class="outer-box" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
              {% for product in products %}
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img
                        src="{{ product.img.url }}"
                        alt=""
                      />
                      <h2>Rs. {{ product.price }}</h2>
                      <p>{{ product.name|title }}</p>
                      <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-default add-to-cart"
                        ><i class="fa fa-shopping-cart"></i>Add to cart</a
                      >
                      <a href="{% url 'products' product.slug %}" class="btn btn-default add-to-cart"
                        ></i>View Product</a
                      >
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>Rs. {{ product.price }}</h2>
                        <p>{{ product.name|title }}</p>
                        <a href="{% url 'add_to_cart' product.pk %}" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Add to cart</a
                        >
                        <a href="{% url 'products' product.slug %}" class="btn btn-default add-to-cart"
                        ></i>View Product</a
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </section>

    {% endblock %}