<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
	</style>
</head>
<body>
	
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>Invoice</h2><h3 class="pull-right">Order Id : {{order.order.orderID}}</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					Radha Shyam Mrlidhar Tulsi Mala Wale<br>
    					Loi Market<br>
    					vrindavan<br>
    					Mathura, 281121
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
        			<strong>Shipped To:</strong><br>
					{{ order.order.firstname }} {{ order.order.lastname }}<br>
					{{ order.order.Address }}<br>
					{{ order.order.country }}, {{ order.order.zip_code }}
    				</address>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">

    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date and Time:</strong><br>
    					{{order.order_date}}<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
								{% for order in order.order_items.all %}
							
    							<tr>

    								<td>{{order.product.name}}</td>
    								<td class="text-center">{{order.order_item_price}}</td>
    								<td class="text-center">{{order.quantity}}</td>
    								<td class="text-right">{{order.get_subtotal}}/</td>
    							</tr>
								{% endfor %}
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Total</strong></td>
    								<td class="thick-line text-right">Rs.{{order.get_total}}</td>
    							</tr>
    						</tbody>
    					</table>
						<div class="invoice-title">
							<a href="/"> Go Back To Home Page</a><a onclick="window.print()" class="pull-right">Print Invoice</a>
						</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
</body>
</html>