{% extends './base.html' %}
{% load static %}
{% load  cart_template_tag %}
{% block extcss %} 
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
{% endblock %}
{% block extjs %}
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  -->
{% endblock %}
{% block start %}
    

	<section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<!-- <img src="/media/{{prodDescp.img}}" alt="" /> -->
								<section id="slider">
									<!--slider-->
									<div class="container">
									  <div class="row">
										<div class="col-sm-6">
										  <div
											id="slider-carousel"
											class="carousel slide"
											data-ride="carousel"
										  >
											<ol class="carousel-indicators">
											  <li
												data-target="#slider-carousel"
												data-slide-to="0"
												class="active"
											  ></li>
											  <li data-target="#slider-carousel" data-slide-to="1"></li>
											  <li data-target="#slider-carousel" data-slide-to="2"></li>
											</ol>
							  
											<div class="carousel-inner">
											  <div class="item active">
												<!-- <div class="col-sm-6">
												  <h1>{{f_items.name}}</h1>
												  <h2>{{f_items.category}}</h2>
												  <p>
												   {{f_items.desc|truncatechars:180 }}
												  </p>
												 
												</div> -->
												<div class="col-sm-12">
												  <img
													src="/media/{{ prodDescp.prod_images.first.image }}"
													class="girl img-responsive"
													alt=""
												  />
												</div>
											  </div>
											  {% for prod in prodDescp.prod_images.all %}
											  {% if not prodDescp.prod_images.first.image == prod.image  %}
											  <div class="item">
												<!-- <div class="col-sm-6">
												  <h1>{{items.name}}</h1>
												  <h2>{{items.category}}</h2>
												  <p>
													{{f_items.desc|truncatechars:180 }}
												  </p>
												  
												</div> -->
												<div class="col-sm-12">
												  <img
													src="/media/{{ prod.image }}"
													class="girl img-responsive"
													alt=""
												  />
												</div>
											  </div>
											  {% endif %}
											  {% endfor %}
											</div>
							  
											<a
											  href="#slider-carousel"
											  class="left control-carousel hidden-xs"
											  data-slide="prev"
											>
											  <i class="fa fa-angle-left"></i>
											</a>
											<a
											  href="#slider-carousel"
											  class="right control-carousel hidden-xs"
											  data-slide="next"
											>
											  <i class="fa fa-angle-right"></i>
											</a>
										  </div>
										</div>
									  </div>
									</div>
								  </section>
								  <!--/slider-->
								<!-- <div id="carouselExampleIndicators" class="carousel slide">
									<div class="carousel-indicators">
									  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
									  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
									  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
									</div>
									<div class="carousel-inner">
									  <div class="carousel-item active">
										<img src="/media/{{ prodDescp.prod_images.first.image }}" class="d-block w-100" alt="...">
									  </div>
									  {% for prod in prodDescp.prod_images.all %}
									  {% if not prodDescp.prod_images.first.image == prod.image  %}
									  
									  <div class="carousel-item">
										<img src="/media/{{ prod.image }}" class="d-block w-100" alt="...">
									  </div>

									  {% endif %}
									  {% endfor %}
									  
									</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
									  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
									  <span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
									  <span class="carousel-control-next-icon" aria-hidden="true"></span>
									  <span class="visually-hidden">Next</span>
									</button>
								  </div> -->
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>{{prodDescp.name}}</h2>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>Rs.{{prodDescp.price}}</span>
									<a href="{% url 'add_to_cart' prodDescp.pk %}" type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</a>
								</span>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Reviews 
									{% if reviews %}
									({{reviews|length}})
									{% else %}
									(0)
									{% endif %}
								</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Type Your Review ?</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<p style="padding: 1rem;">{{prodDescp.desc}}</p>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								{% for review in reviews %}
								<div style="padding: 0.5rem 1rem;">
									<h3>{{review.name}}</h3>
									<p>{{review.review}}</p>
								</div>
								{% empty %}
								<h3 style="text-align: center;">No Reviews!</h3>
								{% endfor %}
							</div>
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									{% if user.is_authenticated %}
									<p><b>Write Your Review</b></p>
									
									<form action="/saveReview/{{prodDescp.slug}}" method="post"> {% csrf_token %}
										<span>
											<input type="text" name="name" placeholder="Your Name"/>
											<input type="email" name="email" placeholder="Email Address"/>
										</span>
										<textarea name="message" placeholder="Enter Review Here!"></textarea>
										<button type="submit" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
									{% endif %}
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									{% for item in recommended_products %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/media/{{ item.prod_images.first.image }}" alt="" />
													<h2>{{item.price}}</h2>
													<p>{{item.name}}</p>
													<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>		
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	{% endblock %}