{% extends './base.html' %}
{% load static %}
{% block start %}
	<section id="advertisement">
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							
							<div class="panel panel-default">
								{% for cats in categories %}
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/category/{{ cats.id }}"><span class="pull-right">{{ cats.product_count }}</span>{{cats.category_name}}</a></h4>
								</div>
								{% endfor %}
							</div>
						</div><!--/category-productsr-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<div class="outer-box" style="display: flex; justify-content: space-around; flex-wrap: wrap;"></div>
						{% if category %}
							{% for item in products %}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="/media/{{item.img}}" alt="" />
												<h2>${{item.price}}</h2>
												<p>{{item.name}}</p>
												<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												<a href="{% url 'products' item.slug %}" class="btn btn-default add-to-cart"
												></i>View Product</a>
											  >
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>${{item.price}}</h2>
													<p>{{item.name}}</p>
													<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												<a href="{% url 'products' item.slug %}" class="btn btn-default add-to-cart"
												></i>View Product</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% elif query %}
							{% if not products %}
							<h3 style="text-align: center;">No Results Found</h3>
							{% else %}
							{% for item in products %}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="/media/{{item.img}}" alt="" />
												<h2>${{item.price}}</h2>
												<p>{{item.name}}</p>
												<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												<a href="{% url 'products' item.slug %}" class="btn btn-default add-to-cart"
												></i>View Product</a>
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>${{item.price}}</h2>
													<p>{{item.name}}</p>
													<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
													<a href="{% url 'products' item.slug %}" class="btn btn-default add-to-cart"
												></i>View Product</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							{% endif %}
						{% else %}
							{% for item in products %}
								<div class="col-sm-4">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="/media/{{item.img}}" alt="" />
												<h2>${{item.price}}</h2>
												<p>{{item.name}}</p>
												<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												<a href="{% url 'products' item.slug %}" class="btn btn-default add-to-cart"
												></i>View Product</a>
											</div>
											<div class="product-overlay">
												<div class="overlay-content">
													<h2>${{item.price}}</h2>
													<p>{{item.name}}</p>
													<a href="{% url 'add_to_cart' item.pk %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												<a href="{% url 'products' item.slug %}" class="btn btn-default add-to-cart"
												></i>View Product</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
						</div>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
{% endblock %}
